/*ESTILOS DE LA PAGINA contacto.HTML*/

@import url('../css/header_footer.css'); 





/*-------------------MAIN-------------------*/
legend{
    text-align: center;
    padding: 2px;
    color: beige;
    background-color: #7BD009;
    border-radius: 10px;
}

fieldset{
    margin: 20px 0;
    width: 30%;
    margin: 0 auto;
    border: 2px solid #7BD009;
    border-radius:  10px;
    padding: 0 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(1, 1, 1, 0.5);
}

.form-container{
    background-image: url('../Static/img-contacto/bici\ fondoCPB.webp');
    background-position: center bottom; /*al agregar mas campos revisar*/
    background-repeat: no-repeat;
    background-size: cover;  
    width: 100%;
    opacity: 0.8;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.container .consultas p{
    color: #E8E8E8;
}
input, textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    border: none;
    border: 2px solid #7BD009;
    box-shadow:  0 0 15px #0003;
    background-color: transparent;
    border-radius: 4px;
    outline: none;
    color: #E8E8E8;
    margin: 3px;
}

input{
    border-right: none;
    border-top: none;
    border-left: none;
}

input::placeholder, textarea::placeholder{
    color: #D3D3D3;
}

/*input:focus, textarea:focus{
    border: none;
}*/

input:focus::placeholder, textarea:focus::placeholder{
    visibility: hidden;
}

.consultas{
    margin: 20px 0;
}

.radios{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 5px 15px;
}

label{
    color: #E8E8E8;
    margin: 3px 6px;
}

textarea{
    min-width: 100%;
    resize: none;
    min-height: 100px;
    max-width: 200px;
    font-family: "Nunito Sans", sans-serif;
}

textarea:not(:focus) {
    background-color: transparent; /* Fondo blanco cuando no está enfocado */
  }

.button{
    margin: 5px;
    background-color: #7BD009;
    color: beige;
    border-radius: 5px;
    width: 60%;
    height: 30px;
    align-self: center;
    transition: opacity 0.3s ease;
}

.button:hover{
    cursor: pointer;
    opacity: 0.7;
}


