/*ESTILOS DE LA PAGINA contacto.HTML*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    
}

html body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
            
}

body{
    min-height: 100vh;
    background-color: beige;
   
    
}

/*-------------------HEADER-------------------*/
.header{    
    background-color: rgb(1, 1, 1);
    width: 100%;
    height: auto;
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 50px 10px 50px
    
                        
}


.logo{
    flex: 1;
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
            
}

.header .logo img{
    /*height: 100%;*/ /* Hace que la imagen use el máximo de la altura disponible */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    width: 200px; 
    transition: all 0.3s;
                
}

.header .logo:hover img{
    transform: scale(1.2);
}

.nav{
    flex: 3;
    display: flex;
    justify-content: center ;
                
    }

.nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
}
   
.nav .links li{
    margin: 0px 20px;     
  
}


.nav .links li a{
    color: #7BD009;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400; 
    height: 100%;
    box-sizing: border-box;
    padding: 8px 25px;  
    border-radius: 3px; 
    transition: all 0.3s;
          
}

.nav .links li a:hover, .nav .links li a:active{
    color: rgb(1, 1, 1);
    background-color: #7BD009;
    text-decoration: none;
    font-weight: 600;
                 
}


/*-------------------MAIN-------------------*/
legend{
    text-align: center;
    padding: 2px;
    color: beige;
    background-color: #7BD009;
    border-radius: 10px;
}

fieldset{
    margin: 20px 0;
    width: 30%;
    margin: 0 auto;
    border: 2px solid #7BD009;
    border-radius:  10px;
    padding: 0 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(1, 1, 1, 0.5);
}

.form-container{
    background-image: url('../Static/img-contacto/bici\ fondoCPB.webp');
    background-position: center bottom; /*al agregar mas campos revisar*/
    background-repeat: no-repeat;
    background-size: cover;  
    width: 100%;
    opacity: 0.8;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.container .consultas p{
    color: #E8E8E8;
}
input, textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    border: none;
    border: 2px solid #7BD009;
    box-shadow:  0 0 15px #0003;
    background-color: transparent;
    border-radius: 4px;
    outline: none;
    color: #E8E8E8;
    margin: 3px;
}

input{
    border-right: none;
    border-top: none;
    border-left: none;
}

input::placeholder, textarea::placeholder{
    color: #D3D3D3;
}

/*input:focus, textarea:focus{
    border: none;
}*/

input:focus::placeholder, textarea:focus::placeholder{
    visibility: hidden;
}

.consultas{
    margin: 20px 0;
}

.radios{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 5px 15px;
}

label{
    color: #E8E8E8;
    margin: 3px 6px;
}

textarea{
    min-width: 100%;
    resize: none;
    min-height: 100px;
    max-width: 200px;
    font-family: "Nunito Sans", sans-serif;
}

textarea:not(:focus) {
    background-color: transparent; /* Fondo blanco cuando no está enfocado */
  }

.button{
    margin: 5px;
    background-color: #7BD009;
    color: beige;
    border-radius: 5px;
    width: 60%;
    height: 30px;
    align-self: center;
    transition: opacity 0.3s ease;
}

.button:hover{
    cursor: pointer;
    opacity: 0.7;
}


/*-------------------FOOTER-------------------*/
.footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    background-color: rgb(1, 1, 1);
    justify-content: space-around ;
    position: relative;
    color: #7BD009;
    padding: 15px 50px;
         
    }

.footer-items{          
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    /*max-width: 1000px;*/
    font-size: 16px;
    margin-top: 20px;
    padding: 20px;

    }


.footer-items li{
    list-style-type: none;
    
}    

 .footer-items a{
    text-decoration: none;
    color: #7BD009;
    padding: 20px;
    line-height: 200%;
        
 }   

 .footer p{
    text-align: center;
    color: #999c95;
    padding: 20px;
    font-size: 14px;
    letter-spacing: 2px;
    
 }   

 .footer h3{
    font-size: 15px;
    margin-bottom: 8px;
 }

 .redes-sociales img{
    width: 40px;
    margin: 10px;
    
 }

 .datos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 30%;
 }

 
 .logo-footer img {
    max-width: 70%; /* Asegura que la imagen nunca sea más ancha que su contenedor */
    height: auto; /* Mantiene la proporción de la imagen ajustando automáticamente su altura */
    
}

.logo-footer{
    flex: 1 1 30%;
    text-align: right;    
    
}

.redes-sociales{
    flex: 2 1 40%;
    text-align: center;
     
    
}