/* Estilos generales */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}

body{   
    background-color: blanchedalmond;    
}
img {
    max-width: 100%; /* Hace que las imágenes sean responsivas */
    height: auto;
}

.header, .footer, .section {
    width: 100%; /* Asegura que los elementos no sobresalgan del viewport */
}

/*-------------------HEADER-------------------*/
.header{    
    /*position: relative;*/
    background-color: black;
    height: 80px;       
}
.logo{
    position: relative;
    z-index: 10;
    height: 70px;
    width: 180px;
    padding: 10px 0; 
    margin-left: 20px;          
}

.header .logo img{
    transition: all 0.3s;                
}

.header .logo:hover img{
    transform: scale(1.2);
}

.nav{
    max-width: 1200px;
    margin: 0 auto;
    height: 60px;
    position: relative; 
    z-index: 5;             
}
.checkbox, .icons{
    
    /*--------CAMBIOS PARA QUE EL MENU PASE POR ABAJO----------------------*/
    width: 200px;    
    text-align: right;
    background-color: black;
    height: 80px;
    top: 0px;
    right: 0px;
    padding-right: 20px;
    padding-top: 20px;
    
    /*---------------------------------------------------------------------------*/
    
    position: absolute;        
    cursor: pointer;
    z-index: 3;
    
}
.icons{
    pointer-events: none;
    font-size: 32px;
    color: greenyellow;
}
.checkbox{
    opacity: 0;
}
.fa-xmark{
    display: none;
}
.checkbox:checked ~ .fa-bars{
    display: none;
}
.checkbox:checked ~ .fa-xmark{
    display: block;
}
.menu{
    position: absolute;
    top: -200px;    
    right: 0px;
    width: 200px;
    z-index: 0;
    transition: 1s;
}
.menu li{
    list-style: none;
}
.nav .menu li a{
    text-decoration: none;
    color: greenyellow;
    background-color: rgba(0,0,0,0.9);
    display: block;
    padding: 8px;
    text-align: center;
    font-size: 1.1rem;
}
.nav .menu li a:hover{
    background-color: greenyellow;
    color: #000;
}
.checkbox:checked ~ .menu{
    top: 80px;
    z-index: 2;
}
/*-------------------FOOTER-------------------*/

.footer{    
    background-color: rgb(0,0,0);
    color: #7BD009;
    padding-top: 20px;
}

.footer-items{
    margin-bottom: 20px;
}

.footer .datos, .redes-sociales{
    padding-left: 20px;
    width: 100%;
    
}
.footer-items .datos li{
    list-style-type: none;
    align-items: center;
    text-align: center;

    
} 

.datos{
    line-height: 1.8;

}

.datos li i{
    margin-right: 8px;
    
}

.redes-sociales img{
    width: 40px;
    margin: 10px;
    
 }
 .redes-sociales h3{
    text-align: center;
    font-size: 1rem;
    margin: 15px 0;
 }
 .redes-sociales .iconos{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
 }
 .logo-footer img {
    max-width: 50%; 
    display: block;
    margin: 0 auto;
}
.logo-footer{
    margin: 20px auto;
}
.footer p{
    text-align: center;
    color: #999c95;
    padding: 20px;
    font-size: 10px;
    letter-spacing: 2px;
    
 }   
 
/****** media query  **********/


@media only screen and (min-width: 700px){
    .checkbox, .fa-bars, .fa-xmark{
        display: none;
    }
    .menu{
        display: flex;
        justify-content: flex-end;        
        padding: 5px;
        top: 0;
        z-index: 1;
        margin-top: 9px;
        
    }

   
    .menu li a{
        background-color: rgba(0,0,0,0.9);
        
    }
    .nav .menu li a{
        font-size: 1.2rem;
        margin-right: 7px;
    }
    /******    footer        ******/
    .iconos-datos, .redes-sociales, .logo-footer{
        width: 30vw;
        margin: 0;
    }
    .redes-sociales img{
        margin: 0;
    }
    .footer-items{          
        display: flex;
        justify-content:space-around;
        flex-wrap: wrap;
        align-items: center;
        }

    .footer-items .datos li{
        text-align: left;
            
        } 
    .redes-sociales{
        display: flex;
        flex-direction: column;
    }

    .footer p{
        font-size: 14px;
    }
    




}

