@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Formateo CSS */
html,
body {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Estilos generales*/
* {
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
    line-height: 1.5;
    display: flexbox;
    justify-content: center;
    overflow-x: hidden;
    background-color: beige;
}
  
ol, ul {
    list-style: none;
}

/*Estilos de la barra de navegación*/

.header {
    height: 80px;
    background-color: rgb(1, 1, 1);
}

.navbar {
    /* flex: 3; */
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 100%;
}

.logo{
    flex: 1;
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    margin-left: 15px;
}

.header .logo img{
    /*height: 100%;*/ /* Hace que la imagen use el máximo de la altura disponible */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    width: 200px; 
    transition: all 0.3s;              
}

.logo img:hover{
    transform: scale(1.2);
}

.label-hamburguesa, .menu-hamburguesa {
    display: none;
}

.list-icon {
    color: #7BD009;
    cursor: pointer;
}

.links {
    width: auto;
    position: static;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.links li a {
    color: #7BD009;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400; 
    height: 100%;
    box-sizing: border-box;
    padding: 8px 25px;  
    border-radius: 3px; 
    transition: all 0.3s;
}

.navbar .links li a:hover, .navbar .links li a:active{
    color: rgb(1, 1, 1);
    background-color: #7BD009;
    text-decoration: none;
    font-weight: 600;       
} 

/* Estilos primera seccion*/
.seccion-equipo {
    padding: 5px;
    margin: 5px auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    width: 100%;
    color: #7BD009;
    border-radius: 10px;
    padding: 20px 40px;
    letter-spacing: 2px;
    word-spacing: 10px;
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

span .titulo {
    text-align: center;
}

.seccion-equipo h2 {
    font-size: 35px;
    text-align: center;
}

.seccion-equipo p {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.subtitulo {
    padding-top: 5px;
    color: #373b32;
}

.imgPrincipal {
    width: 100%;
    max-width: 1020px;
    text-align: center;
    margin: 1px auto;
    text-align: center;
}

.imgPrincipal img {
    width: 100%;
}

.el-equipo {
    margin-top: 20px;
}

.verde {
    color: #89c507;
}
  
/* Seccion hecha con grid */
.equipo-grid {
    display: grid;
    margin: 15px auto;
    width: 90%;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px; 
}

.miembro-equipo {
    position: relative;
}

.miembro-equipo img {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
}

.info-miembro {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 99%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(44, 43, 43, 0.9);
    color: #89c507;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(1, 83, 42, 0.432);
    transition: all 0.5s ease;
    z-index: 1;
}

.info-miembro h4 {
    margin-top: 5px;
}

.info-miembro p {
    text-align: left;
    font-size: 16px;
}
  
.miembro-equipo:hover .info-miembro {
    opacity: 1;
}

/* seccion de pastañas hecha con boostrap */

.pestañas {
    width: 90%;
    max-width: 1020px;
    height: auto;
    margin: 15px auto;
}

.tab-pane img {
    width: 90%; 
}


/* Ultima seccion */
.container {
    width: 100%;
    max-width: 1250px;
    /* margin: 50px auto; */
    padding: 15px;
    color: #33355A;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.carta {
    width: 50%;
    min-width: 600px;
    padding: 5px;
    margin: 0 auto;
    background-image: url("https://img.freepik.com/fotos-premium/hoja-blanco-papel-blanco-fondo-lienzo-papel-claro_84485-1934.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-style: oblique;
    box-shadow: 5px 5px 5px #909193;
}

.carta p {
    padding: 15px;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-size: 16px;
    font-weight: 100;
}

.form {
    margin: 5px auto;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-derecha h2 {
    font-size: 30px;
    color: greenyellow;
    font-weight: bold;
    margin-top: 15px;
}

.form-derecha form {
    text-align: center;
}

.form-derecha p {
    font-size: 16px;
    color: #909193;
}

.form img {
    width: 50%;
    margin: 5px auto;
}

.mail {
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #909193;
    color: #909193;
}

.boton {
    background-color: greenyellow;
    padding: 5px 10px;
    border-radius: 10px;
    color: #909193;
    font-size: 18px;
    transition: 0.3s;
}

.boton:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Seccion footer */

.footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    background-color: rgb(1, 1, 1);
    justify-content: space-around ;
    position: relative;
    color: #7BD009;
    padding: 15px 50px;
    margin-top: 10px;    
}

.footer-items{          
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    /*max-width: 1000px;*/
    font-size: 16px;
    margin-top: 20px;
    padding: 20px;

}


.footer-items li{
    list-style-type: none;
    
}    

 .footer-items a{
    text-decoration: none;
    color: #7BD009;
    padding: 20px;
    line-height: 200%;
        
}   

.footer p{
    text-align: center;
    color: #999c95;
    padding: 20px;
    font-size: 14px;
    letter-spacing: 2px;
    
}   

.footer h3{
    font-size: 15px;
    margin-bottom: 8px;
}

.redes-sociales img{
    width: 40px;
    margin: 10px;
    
}

.datos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 30%;
}

.logo-footer img {
    max-width: 70%; /* Asegura que la imagen nunca sea más ancha que su contenedor */
    height: auto; /* Mantiene la proporción de la imagen ajustando automáticamente su altura */
    
}

.logo-footer{
    flex: 1 1 30%;
    text-align: right;    
    
}

.redes-sociales{
    flex: 2 1 40%;
    text-align: center;
     
    
}

footer img {
    max-width: 100%; /* Hace que las imágenes sean responsivas */
    height: auto;
}

.header, .footer {
    width: 100%; /* Asegura que los elementos no sobresalgan del viewport */
}


/* ---Estilos para las barras de desplazamiento verticales--- */

/* WebKit */
::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
}
  
::-webkit-scrollbar-track {
    background-color: transparent; /* Color de fondo de la pista de la barra de desplazamiento */
}
  
::-webkit-scrollbar-thumb {
    background-color: #019443de; /* Color del pulgar de la barra de desplazamiento */
    border-radius: 5px; /* Borde redondeado del pulgar */
}
  
/* Firefox */
  
* {
    scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
    scrollbar-color: #019443de transparent; /* Color del pulgar y color de fondo de la barra de desplazamiento */
}
  
/* ------------------------------------------------------------ */

/* MEDIA QUERY */

@media only screen and (max-width:750px) {
    .header {
        height: 85px;
    }

    .navbar {
        flex-wrap: wrap;
        position: relative;
    }

    .label-hamburguesa {
        display: block;
    }

    .links {
        position: absolute;
        width: 100%;
        /* height: calc(100vh - 80px); */ /*Para que cubra toda la pantalla sin tapar el header*/
        height: 0;
        overflow: hidden;
        background-color: rgb(1, 1, 1);
        top:0;
        right: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
        transition: all 0.5s ease;
    }

    .links li a {
        display: none;
        font-size: 25px;
        align-self: center;
    }

    .menu-hamburguesa:checked + .links {
        height: 500px;
    }

    .menu-hamburguesa:checked + .links a {
        display: block;
    }

    .titulo  {
        width: 100%;
        height: auto;
    }

    .subtitulo {
        font-size: 30px;
    }

    .container {
        min-width: 100%;
        padding: 0px;
        justify-content: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .info-miembro p {
        font-size: 14px;
    }

    .carta {
        width: 100%;
        min-width: 350px;
        background-image: none;
        padding: 0px;
        box-shadow: none;
        font-size: 14px;
        margin: 10px 0;
        box-sizing: border-box;
        text-align: center;
    }

    .form {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form h2 {
        font-size: 20px;
        text-align: center;
        overflow: hidden;
    }

    .form-derecha p {
        font-size: 14px;
        text-align: center;
    }

    .form img {
       display: none;
    }

    .footer-items {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .datos, .redes-sociales {
        justify-content: center;
        text-align: center;
    }

    .logo-footer {
        display: none;
    }
}  
