/*Estilos generales*/
/* html, body{
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 0 auto;
    
} */

h1,
h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #909193;
}

h1 {
    font-size: 45px;
}

/* ________________________________________ */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    /*text-align: center;*/
}

html body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
            
}

body{
    min-height: 100vh;
    background-color: beige;
    
}






/*Estilos de la barra de navegación*/
/* nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    position: fixed;
    margin: 0 auto;
    z-index: 99;
    background-color: #000;
}

.logo {
    width: 50%;
}

nav ul li {
    display: inline-flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 15px;
}

nav ul li a {
    text-decoration: none;
    color: greenyellow;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #f2f2f2;
    transform: scale(1.2);
} */
.header{    
    background-color: rgb(1, 1, 1);
    width: 100%;
    height: auto;
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 50px 10px 50px
    
                        
}


.logo{
    flex: 1;
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
            
}

.header .logo img{
    /*height: 100%;*/ /* Hace que la imagen use el máximo de la altura disponible */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    width: 200px; 
    transition: all 0.3s;
                
}

.header .logo:hover img{
    transform: scale(1.2);
}

.nav{
    flex: 3;
    display: flex;
    justify-content: center ;
                
    }

.nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
}
   
.nav .links li{
    margin: 0px 20px;     
  
}


.nav .links li a{
    color: #7BD009;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400; 
    height: 100%;
    box-sizing: border-box;
    padding: 8px 25px;  
    border-radius: 3px; 
    transition: all 0.3s;
          
}

.nav .links li a:hover, .nav .links li a:active{
    color: rgb(1, 1, 1);
    background-color: #7BD009;
    text-decoration: none;
    font-weight: 600;
                 
}

/*Estilos de las secciones*/
.grid-container {
    /* height: 100vh; */
    width: 90%;
    margin: auto;
    display: grid;
    align-items: center;
}


.grid-container p {
    padding: 15px;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
}

.nosotros-img {
    width: 60%;
    margin: 10px auto;
}

.bg-color {
    background-color: #fafafa;
}

.grid-2 {
    margin: 50px auto;
    color: #33355A;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.historia-img {
    width: 100%;
    margin-top: 0;
}

.equipo-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr 1fr;
}

.equipo {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
}

.equipo h2 {
    font-size: 45px;
}

.equipo p {
    width: 100%;
}

.tarjetas-grid {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
}

.tarjetas-container {
    background-color: transparent;
    /* el fondo será completamente transparente y mostrará lo que haya detrás del contenedor.*/
    width: 24%;
    height: 600px;
    perspective: 1000px;
    /*
        Define la perspectiva desde la cual se verán los elementos 3D dentro del contenedor. 
        En este caso, se establece en 1000 píxeles, lo que significa que los elementos dentro del contenedor tendrán una perspectiva que simula estar a una distancia de 1000 píxeles del usuario.
    */
}

.tarjeta {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    /*se animará durante 1 segundo, para dar un efecto de transición suave y gradual.*/
    transform-style: preserve-3d;
    /*se asegura de que los elementos hijos conserven sus posiciones y perspectivas 3D relativas al contenedor principal.*/
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.tarjetas-container:hover .tarjeta {
    transform: rotateY(180deg);
    /*para voltear el elemento como si fuera una tarjeta, haciendo que la parte frontal del elemento sea invisible y la parte posterior sea visible.*/
}

.frente,
.dorso {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /*asegura de que la parte trasera del elemento no sea visible cuando el elemento esté rotado*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    /* font-size: 5em; */
}

.dorso {
    justify-content: center;
}

.frente {
    background-color: #000;
    color: greenyellow;
}

.dorso {
    background-color: greenyellow;
    color: #000;
    transform: rotateY(180deg);
}

.frente img {
    border-radius: 50%;
    width: 90%;
    object-fit: fill;
    margin-top: 1rem;
}

.frente h3,
.dorso h3 {
    font-size: 3rem;
    padding: 0;
}

.frente p {
    font-size: 25px;
    padding: 0 10px;
    margin-top: 5px;
    color: greenyellow;
    margin-bottom: 20px;
}

.dorso p {
    font-size: 18px;
    padding: 0 10px;
    margin-top: 5px;
    color: #000;
}

.bg-color:nth-child(2) {
    background-color: #fff;
}
.carta {
    /* width: 45%;
    margin-left: 5%; */
    grid-column: 1;
    padding: 20px;
    background-image: url("https://img.freepik.com/fotos-premium/hoja-blanco-papel-blanco-fondo-lienzo-papel-claro_84485-1934.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-style: oblique;
    box-shadow: 5px 5px 5px #909193;
}

.form {
    /* align-self: flex-start;
    margin-top: 150px;
    margin-right: 0;
    margin-bottom: 10px;*/
    margin: auto;
    text-align: center;
    width: 50%; 
    grid-column: 2;
}

.form h2,
.form P {
    font-size: 40px;
    color: greenyellow;
    font-weight: bold;
}

.form p {
    font-size: 18px;
    color: #909193;
}

.form img {
    width: 100%;
    margin-right: 10px;
    margin-top: 35px;
    justify-self: flex-end;
    align-self: center;
}

.mail {
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #909193;
    color: #909193;
}

.btn {
    background-color: greenyellow;
    padding: 5px 10px;
    border-radius: 10px;
    color: #909193;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* footer {
    position: absolute; 
    margin-bottom: 0;
    margin-top: auto;
    margin-left: 0;
    height: 110px;
    width: 100%;
    background-color: #000;
    align-self: flex-end;
    padding: 30px 0px;
    text-align: center;
} 


.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: greenyellow;
    font-size: 0.8em;
}

.footer .row a,
nav ul li a {
    text-decoration: none;
    color: greenyellow;
    transition: 0.3s;
}

.footer .row a:hover,
nav ul li a:hover {
    color: #fff;
}


.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
} */

.footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    background-color: rgb(1, 1, 1);
    justify-content: space-around ;
    position: relative;
    color: #7BD009;
    padding: 15px 50px;
         
    }

.footer-items{          
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    /*max-width: 1000px;*/
    font-size: 16px;
    margin-top: 20px;
    padding: 20px;

    }


.footer-items li{
    list-style-type: none;
    
}    

 .footer-items a{
    text-decoration: none;
    color: #7BD009;
    padding: 20px;
    line-height: 200%;
        
 }   

 .footer p{
    text-align: center;
    color: #999c95;
    padding: 20px;
    font-size: 14px;
    letter-spacing: 2px;
    
 }   

 .footer h3{
    font-size: 15px;
    margin-bottom: 8px;
 }

 .redes-sociales img{
    width: 40px;
    margin: 10px;
    
 }

 .datos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 30%;
 }

 
 .logo-footer img {
    max-width: 70%; /* Asegura que la imagen nunca sea más ancha que su contenedor */
    height: auto; /* Mantiene la proporción de la imagen ajustando automáticamente su altura */
    
}

.logo-footer{
    flex: 1 1 30%;
    text-align: right;    
    
}

.redes-sociales{
    flex: 2 1 40%;
    text-align: center;
     
    
}
/*----------------MEDIA QUERIES-----------------*/

img {
    max-width: 100%; /* Hace que las imágenes sean responsivas */
    height: auto;
}

.header, .footer, .section {
    width: 100%; /* Asegura que los elementos no sobresalgan del viewport */
}